<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">The Southern Landscape Firm</span>
            <h2 class="cs-title">Let’s Bring Your Landscape to Life!</h2>
            <p class="cs-text">
                Whether you need ongoing maintenance or custom installations,
                The Southern Landscape Firm is here to deliver. Contact us today
                and let’s create an outdoor space you’ll love!
            </p>
            <a class="cs-button-solid" href="contact/index.html"
                >Get A Free Quote</a
            >
        </div>
    </div>
    <picture class="cs-picture"
        ><source
            media="(max-width: 600px)"
            srcset="/assets/images/cta-m.webp" />
        <source media="(min-width: 601px)" srcset="/assets/images/cta.webp" />
        <img
            alt="Flower Arrangement"
            decoding="async"
            height="1280"
            src="assets/images/cta.webp"
            width="1920"
            loading="lazy"
            aria-hidden="true"
    /></picture>
</section>
