<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-145">
    <div class="cs-container">
        <div class="cs-logo-group">
            <a class="cs-logo" href="index.html" aria-label="go back to home"
                ><img
                    alt="logo"
                    decoding="async"
                    height="32"
                    src="assets/images/logo.webp"
                    width="240"
                    loading="lazy"
                    class="cs-logo-img"
            /></a>
            <p class="cs-text">
                Quality landscaping built on relationships, reliability, and
                results. Let's bring your landscape to life!
            </p>
        </div>
        <ul class="cs-nav">
            <li class="cs-nav-li"><span class="cs-header">Sitemap</span></li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="index.html">Home</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="about/index.html">About</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="#">Services</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="#">Locations</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="gallery/index.html">Gallery</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="reviews/index.html">Reviews</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="contact/index.html">Contact</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li"><span class="cs-header">Services</span></li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="landscape-maintenance/index.html"
                    >Landscape Maintenance</a
                >
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="landscape-installation/index.html"
                    >Landscape Installation</a
                >
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="irrigation-installation/index.html"
                    >Irrigation Installation</a
                >
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="outdoor-lighting/index.html"
                    >Outdoor Lighting</a
                >
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="color-enhancements/index.html"
                    >Color Enhancements</a
                >
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="hardscaping/index.html"
                    >Hardscaping</a
                >
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="drainage-solutions/index.html"
                    >Drainage Solutions</a
                >
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="turf-lawn-renovation/index.html"
                    >Turf & Lawn Renovation</a
                >
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="commercial-landscaping/index.html"
                    >Commercial Landscaping</a
                >
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="hoa-landscaping/index.html"
                    >HOA Landscaping</a
                >
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="tree-shrub-care/index.html"
                    >Tree & Shrub Care</a
                >
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li"><span class="cs-header">Locations</span></li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="trussville-alabama/index.html"
                    >Trussville</a
                >
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="trussville-alabama/index.html"
                    >Vestavia Hills</a
                >
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="mountain-brook-alabama/index.html"
                    >Mountain Brook</a
                >
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="homewood-alabama/index.html"
                    >Homewood</a
                >
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="hoover-alabama/index.html"
                    >Hoover</a
                >
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="bessemer-alabama/index.html"
                    >Bessemer</a
                >
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="springville-alabama/index.html"
                    >Springville</a
                >
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="moody-alabama/index.html">Moody</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="clay-alabama/index.html">Clay</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="leeds-alabama/index.html">Leeds</a>
            </li>
        </ul>
        <ul class="cs-contact">
            <li class="cs-contact-li">
                <a class="cs-contact-link" href="tel:{{ client.phoneForTel }}"
                    >{{ client.phoneFormatted }}</a
                >
            </li>
            <li class="cs-contact-li">
                <a
                    class="cs-contact-link cs-address"
                    href="mailto:{{ client.email }}"
                    >{{ client.email }}</a
                >
            </li>
            <li class="cs-contact-li">
                <a
                    class="cs-contact-link cs-address"
                    href="{{ client.address.mapLink }}"
                    rel="noopener"
                    target="_blank"
                    ><span> {{ client.address.city }} </span>
                    {{ client.address.state }}</a
                >
            </li>
        </ul>
        <div class="cs-bottom">
            <span class="cs-copyright"
                >© Copyright 2025. The G&K Landscape Maintenance.</span
            >
            <a
                class="cs-social-link"
                href="{{ client.address.mapLink }}"
                aria-label="visit google profile"
                rel="noopener"
                target="_blank"
                ><img
                    alt="google"
                    decoding="async"
                    height="11"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Social/google.svg"
                    width="11"
                    loading="lazy"
                    class="cs-social-img"
                    aria-hidden="true"
                /> </a
            ><a
                class="cs-social-link"
                href="{{ client.socials.facebook }}"
                aria-label="visit facebook profile"
                rel="noopener"
                target="_blank"
                ><img
                    alt="facebook"
                    decoding="async"
                    height="11"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Social/Facebook.svg"
                    width="6"
                    loading="lazy"
                    class="cs-social-img"
                    aria-hidden="true"
                /> </a
            ><a
                class="cs-social-link"
                href="{{ client.socials.instagram }}"
                aria-label="visit instagram profile"
                rel="noopener"
                target="_blank"
                ><img
                    alt="instagram"
                    decoding="async"
                    height="11"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Social/instagram.svg"
                    width="11"
                    loading="lazy"
                    class="cs-social-img"
                    aria-hidden="true"
            /></a>
        </div>
    </div>
</footer>
