<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-top-bar">
        <div class="cs-top-container">
            <div class="cs-top-contact">
                <a class="cs-top-link" href="tel:{{ client.phoneForTel }}"
                    ><img
                        alt="logo"
                        decoding="async"
                        height="16"
                        src="/assets/svgs/phone-grey.svg"
                        width="16"
                        class="cs-link-icon"
                        aria-hidden="true"
                    />
                    {{ client.phoneFormatted }} </a
                ><a class="cs-top-link" href="mailto:{{ client.email }}"
                    ><img
                        alt="logo"
                        decoding="async"
                        height="20"
                        src="/assets/svgs/email-grey.svg"
                        width="20"
                        class="cs-link-icon"
                        aria-hidden="true"
                    />
                    {{ client.email }}</a
                >
            </div>
            <div class="cs-top-social">
                <a
                    class="cs-social-link"
                    href="{{ client.socials.facebook }}"
                    aria-label="Facebook Profile"
                    ><img
                        alt="logo"
                        decoding="async"
                        height="12"
                        src="/assets/svgs/facebook-grey.svg"
                        width="12"
                        class="cs-link-icon-2"
                        aria-hidden="true"
                    /> </a
                ><a
                    class="cs-social-link"
                    href="{{ client.socials.instagram }}"
                    aria-label="Instagram Profile"
                    ><img
                        alt="logo"
                        decoding="async"
                        height="12"
                        src="/assets/svgs/instagram-grey.svg"
                        width="12"
                        class="cs-link-icon-2"
                        aria-hidden="true"
                /></a>
            </div>
        </div>
    </div>
    <div class="cs-container">
        <a class="cs-logo" href="index.html" aria-label="back to home">
            <img
                alt="logo"
                decoding="async"
                height="43"
                src="/assets/images/kg/logo-no-text-nobg.png"
                width="197"
                aria-hidden="true"
            />
            <img
                alt="logo-text"
                src="/assets/images/kg/logo-text-nobg.png"
                class="logo-text"
            />
        </a>
        <nav class="cs-nav" role="navigation">
            <button aria-label="mobile menu toggle" class="cs-toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul">
                    {% set navPages = collections.all | eleventyNavigation %}

                    {# Loop through all pages with a eleventyNavigation in the frontmatter #}
                    {% for entry in navPages %}

                        {# Define a hasChild variable to make it easier to test what navigation items are have child dropdown pages #}
                        {% set hasChild = entry.children.length %}

                        {# Check the frontmatter for hideOnMobile/hideOnDesktop. Form a list of classes to be joined when the item is rendered #}
                        {% set hideClasses = [] %}
                        {% if entry.hideOnMobile %}
                            {% set hideClasses = (hideClasses.push("cs-hide-on-mobile"), hideClasses) %}
                        {% endif %}
                        {% if entry.hideOnDesktop %}
                            {% set hideClasses = (hideClasses.push("cs-hide-on-desktop"), hideClasses) %}
                        {% endif %}

                        {# If this page is a dropdown, give it the appropriate classes, icons and accessibility attributes #}
                        <li
                            class="cs-li {% if hasChild %}cs-dropdown{% endif %} {{ hideClasses | join(" ") }}"
                        >
                            {# If the page has child dropdown pages, render it as a <button> tag with the appropriate dropdown HTML #}
                            {% if hasChild %}

                                {# Check to see if the user's current page is one of the child pages. If so, apply the cs-active class to the dropdown parent #}
                                {% set activeClass = "" %}
                                {% for child in entry.children %}
                                    {% if child.url == page.url %}
                                        {% set activeClass = "cs-active" %}
                                    {% endif %}
                                {% endfor %}

                                {# Render the <button> with the active class, dropdown icon and child links #}
                                <button
                                    class="cs-li-link cs-dropdown-button {{ activeClass }}"
                                    aria-expanded="false"
                                    aria-controls="dropdown-{{ entry.key }}"
                                    aria-label="dropdown-{{ entry.key }}"
                                >
                                    {{ entry.key }}
                                    <img
                                        class="cs-drop-icon"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg"
                                        alt="dropdown icon"
                                        width="15"
                                        height="15"
                                        decoding="async"
                                        aria-hidden="true"
                                    />
                                </button>

                                {# Dropdowns have another ul/li set up within the parent li, which gets rendered in the same way as a normal link #}
                                <ul
                                    class="cs-drop-ul"
                                    id="dropdown-{{ entry.key }}"
                                >
                                    {% for child in entry.children %}
                                        <li class="cs-drop-li">
                                            <a
                                                href="{{ child.url }}"
                                                class="cs-li-link cs-drop-link"
                                                >{{ child.key }}</a
                                            >
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {# Normal pages are rendered as <a> tags, in the normal way you'd expect #}
                                <a
                                    href="{{ entry.url }}"
                                    class="cs-li-link {% if entry.url == page.url %}cs-active{% endif %}"
                                    {% if entry.url == page.url %}aria-current="page"{% endif %}
                                >
                                    {{ entry.key }}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <a class="cs-button-solid cs-nav-button" href="contact/index.html"
            >Contact Us</a
        ><button aria-label="dark mode toggle" id="dark-mode-toggle">
            <svg
                class="cs-moon"
                style="enable-background: new 0 0 480 480"
                viewBox="0 0 480 480"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M459.782 347.328c-4.288-5.28-11.488-7.232-17.824-4.96-17.76 6.368-37.024 9.632-57.312 9.632-97.056 0-176-78.976-176-176 0-58.4 28.832-112.768 77.12-145.472 5.472-3.712 8.096-10.4 6.624-16.832S285.638 2.4 279.078 1.44C271.59.352 264.134 0 256.646 0c-132.352 0-240 107.648-240 240s107.648 240 240 240c84 0 160.416-42.688 204.352-114.176 3.552-5.792 3.04-13.184-1.216-18.496z"
                />
            </svg>
            <img
                alt="moon"
                decoding="async"
                height="15"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsun.svg"
                width="15"
                class="cs-sun"
                aria-hidden="true"
            />
        </button>
    </div>
</header>
