---
title: "About | Code Stitch Web Designs"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "about/"
eleventyNavigation:
    key: About
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css" />
    <meta http-equiv="refresh" content="0; URL='/gallery'" />
{% endblock %}

{% block body %}
    <div id="banner-2285">
        <div class="cs-container">
            <span class="cs-int-title">About Us</span>
            <div class="cs-breadcrumbs">
                <a class="cs-link" href="../index.html">Home</a>
                <a class="cs-active cs-link" href="#">About</a>
            </div>
        </div>
        <picture class="cs-background"
            ><source
                media="(max-width: 600px)"
                srcset="/assets/images/banner-about.webp" />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/banner-about.webp" />
            <img
                alt="About K&G Landscape Maintenance"
                decoding="async"
                height="568"
                src="../assets/images/banner-about.webp"
                width="1280"
                aria-hidden="true"
        /></picture>
    </div>
    <section id="sbs-2291">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">K&G Landscape Maintenance</span>
                <h2 class="cs-title">Rooted in Excellence, Growing with You</h2>
                <p class="cs-text">
                    With over 20 years of experience, K&G Landscape Maintenance
                    was built on a passion for creating and maintaining
                    beautiful outdoor spaces. Founded by Gabriel Welton, our
                    team is committed to quality, relationships, and
                    follow-through. Whether it’s residential, commercial, or HOA
                    landscaping, we provide expert care with a focus on customer
                    satisfaction.
                </p>
                <div class="cs-features">
                    <h3 class="cs-h3">Why Choose Us?</h3>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            Certified training and industry knowledge
                        </li>
                        <li class="cs-li">
                            From maintenance to large-scale landscape
                            installations
                        </li>
                        <li class="cs-li">
                            Building long-term relationships with returning
                            customers
                        </li>
                    </ul>
                </div>
                <a
                    class="cs-button-solid"
                    href="index.html"
                    aria-label="learn more about our values"
                    >Our Values</a
                >
            </div>
            <div class="cs-image-group">
                <div class="cs-box">
                    <span class="cs-number">20+</span>
                    <div class="cs-flex">
                        <h3 class="cs-heading">Years of Experience</h3>
                        <span class="cs-desc"
                            >lawncare maintenance, landscape install,
                            irrigation, and more.</span
                        >
                    </div>
                </div>
                <picture class="cs-picture"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/about-us.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/about-us.webp" />
                    <img
                        alt="meeting"
                        decoding="async"
                        height="630"
                        src="../assets/images/about-us.webp"
                        width="630"
                        aria-hidden="true"
                        loading="lazy"
                /></picture>
            </div>
        </div>
    </section>
    <section id="meet-team-1766">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex-wrapper">
                    <div class="cs-flex">
                        <span class="cs-topper">Our Team</span>
                        <h2 class="cs-title">
                            Skilled Professionals, Trusted Service
                        </h2>
                    </div>
                </div>
                <div class="cs-wrapper">
                    <p class="cs-text">
                        At K&G Landscape Maintenance, our success is built on
                        the dedicated professionals who bring skill, experience,
                        and passion to every project. With a combined background
                        in landscape maintenance, installation, irrigation, and
                        floriculture, our team ensures exceptional service and
                        long-lasting client relationships.
                    </p>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img
                                alt="checkmark"
                                decoding="async"
                                height="20"
                                src="../assets/svgs/orange-check.svg"
                                width="20"
                                aria-hidden="true"
                                class="cs-check-icon"
                                loading="lazy"
                            />
                            experienced and highly trained
                        </li>
                        <li class="cs-li">
                            <img
                                alt="checkmark"
                                decoding="async"
                                height="20"
                                src="../assets/svgs/orange-check.svg"
                                width="20"
                                aria-hidden="true"
                                class="cs-check-icon"
                                loading="lazy"
                            />
                            committed to quality work
                        </li>
                        <li class="cs-li">
                            <img
                                alt="checkmark"
                                decoding="async"
                                height="20"
                                src="../assets/svgs/orange-check.svg"
                                width="20"
                                aria-hidden="true"
                                class="cs-check-icon"
                                loading="lazy"
                            />
                            focused on client relationships
                        </li>
                        <li class="cs-li">
                            <img
                                alt="checkmark"
                                decoding="async"
                                height="20"
                                src="../assets/svgs/orange-check.svg"
                                width="20"
                                aria-hidden="true"
                                class="cs-check-icon"
                                loading="lazy"
                            />
                            passionate about our work
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="cs-image-group">
                        <picture class="cs-picture"
                            ><source
                                media="(max-width: 600px)"
                                srcset="/assets/images/team-1.webp" />
                            <source
                                media="(min-width: 601px)"
                                srcset="/assets/images/team-1.webp" />
                            <img
                                alt="person"
                                decoding="async"
                                height="440"
                                src="../assets/images/team-1.webp"
                                width="305"
                                loading="lazy"
                        /></picture>
                    </div>
                    <div class="cs-info">
                        <span class="cs-name">Gabriel Welton</span>
                        <span class="cs-job">Co-Owner</span>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-image-group">
                        <picture class="cs-picture"
                            ><source
                                media="(max-width: 600px)"
                                srcset="/assets/images/team-2.webp" />
                            <source
                                media="(min-width: 601px)"
                                srcset="/assets/images/team-2.webp" />
                            <img
                                alt="person"
                                decoding="async"
                                height="440"
                                src="../assets/images/team-2.webp"
                                width="305"
                                loading="lazy"
                        /></picture>
                    </div>
                    <div class="cs-info">
                        <span class="cs-name">Carlie Scroggins</span>
                        <span class="cs-job">Co-Owner</span>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-image-group">
                        <picture class="cs-picture"
                            ><source
                                media="(max-width: 600px)"
                                srcset="/assets/images/team-3.webp" />
                            <source
                                media="(min-width: 601px)"
                                srcset="/assets/images/team-3.webp" />
                            <img
                                alt="person"
                                decoding="async"
                                height="440"
                                src="../assets/images/team-3.webp"
                                width="305"
                                loading="lazy"
                        /></picture>
                    </div>
                    <div class="cs-info">
                        <span class="cs-name">Jordan Rich</span>
                        <span class="cs-job">General Manager</span>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-image-group">
                        <picture class="cs-picture"
                            ><source
                                media="(max-width: 600px)"
                                srcset="/assets/images/team-4.webp" />
                            <source
                                media="(min-width: 601px)"
                                srcset="/assets/images/team-4.webp" />
                            <img
                                alt="person"
                                decoding="async"
                                height="440"
                                src="../assets/images/team-4.webp"
                                width="305"
                                loading="lazy"
                        /></picture>
                    </div>
                    <div class="cs-info">
                        <span class="cs-name">Gina Kelley</span>
                        <span class="cs-job">Floriculture Manager</span>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-image-group">
                        <picture class="cs-picture"
                            ><source
                                media="(max-width: 600px)"
                                srcset="/assets/images/team-5.webp" />
                            <source
                                media="(min-width: 601px)"
                                srcset="/assets/images/team-5.webp" />
                            <img
                                alt="person"
                                decoding="async"
                                height="440"
                                src="../assets/images/team-5.webp"
                                width="305"
                                loading="lazy"
                        /></picture>
                    </div>
                    <div class="cs-info">
                        <span class="cs-name">Melvin Miles</span>
                        <span class="cs-job">Quality Control Manager</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
