---
title: "About | Code Stitch Web Designs"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "gallery/"
eleventyNavigation:
    key: Gallery
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/gallery.css" />
{% endblock %}

{% block body %}
    <div id="banner-2285">
        <div class="cs-container">
            <span class="cs-int-title">Gallery</span>
            <div class="cs-breadcrumbs">
                <a class="cs-link" href="../index.html">Home</a>
                <a class="cs-active cs-link" href="#">Gallery</a>
            </div>
        </div>
        <picture class="cs-background"
            ><source
                media="(max-width: 600px)"
                srcset="/assets/images/banner-about.webp" />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/banner-about.webp" />
            <img
                alt="About The Southern Landscape Firm"
                decoding="async"
                height="568"
                src="../assets/images/banner-about.webp"
                width="1280"
                aria-hidden="true"
        /></picture>
    </div>
    <section id="gallery-434">
        <div class="cs-container">
            <div class="cs-grid">
                <picture class="cs-picture cs-picture1"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-1-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-1.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="190"
                        src="../assets/images/gallery-1.webp"
                        width="424"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture2"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-2-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-2.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="390"
                        src="../assets/images/gallery-2.webp"
                        width="571"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture3"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-3-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-3.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="190"
                        src="../assets/images/gallery-3.webp"
                        width="268"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture4"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-4-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-4.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="190"
                        src="../assets/images/gallery-4.webp"
                        width="268"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture5"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-5-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-5.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="390"
                        src="../assets/images/gallery-5.webp"
                        width="268"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture6"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-6-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-6.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="390"
                        src="../assets/images/gallery-6.webp"
                        width="425"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture7"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-7-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-7.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="190"
                        src="../assets/images/gallery-7.webp"
                        width="273"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture8"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-8-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-8.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="190"
                        src="../assets/images/gallery-8.webp"
                        width="273"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture9"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-9-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-9.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="390"
                        src="../assets/images/gallery-9.webp"
                        width="268"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture10"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-10-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-10.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="390"
                        src="../assets/images/gallery-10.webp"
                        width="268"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture11"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-11-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-11.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="190"
                        src="../assets/images/gallery-11.webp"
                        width="268"
                        loading="lazy"
                /></picture>
            </div>
        </div>
    </section>
    <section id="gallery-435">
        <div class="cs-container">
            <div class="cs-grid">
                <picture class="cs-picture cs-picture1"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-2-1-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-2-1.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="190"
                        src="../assets/images/gallery-2-1.webp"
                        width="424"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture2"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-2-2-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-2-2.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="390"
                        src="../assets/images/gallery-2-2.webp"
                        width="571"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture3"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-2-3-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-2-3.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="190"
                        src="../assets/images/gallery-2-3.webp"
                        width="268"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture4"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-2-4-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-2-4.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="190"
                        src="../assets/images/gallery-2-4.webp"
                        width="268"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture5"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-2-5-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-2-5.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="390"
                        src="../assets/images/gallery-2-5.webp"
                        width="268"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture6"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-2-6-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-2-6.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="390"
                        src="../assets/images/gallery-2-6.webp"
                        width="425"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture7"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-2-7-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-2-7.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="190"
                        src="../assets/images/gallery-2-7.webp"
                        width="273"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture8"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-2-8-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-2-8.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="190"
                        src="../assets/images/gallery-2-8.webp"
                        width="273"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture9"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-2-9-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-2-9.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="390"
                        src="../assets/images/gallery-2-9.webp"
                        width="268"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture10"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-2-10-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-2-10.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="390"
                        src="../assets/images/gallery-2-10.webp"
                        width="268"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture11"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-2-11-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-2-11.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="190"
                        src="../assets/images/gallery-2-11.webp"
                        width="268"
                        loading="lazy"
                /></picture>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
