@media only screen and (min-width: 0rem) {
  #sbs-2291 {
    padding: var(--sectionPadding);
    overflow: hidden;
  }
  #sbs-2291 .cs-container {
    width: 100%;
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
  }
  #sbs-2291 .cs-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 10;
  }
  #sbs-2291 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-2291 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-2291 .cs-features {
    width: 100%;
    margin: 0 0 2rem;
    padding: clamp(1.5rem, 4vw, 2rem);
    background-color: #fef5f4;
    border-left: 0.25rem solid var(--secondary);
  }
  #sbs-2291 .cs-h3 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5em;
    margin: 0 0 0.75rem;
    color: var(--headerColor);
  }
  #sbs-2291 .cs-ul {
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  #sbs-2291 .cs-li {
    font-size: 1rem;
    line-height: 1.5em;
    list-style: none;
    padding-left: clamp(1.25rem, 3vw, 1.5rem);
    color: var(--bodyTextColor);
    position: relative;
  }
  #sbs-2291 .cs-li::before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    margin-top: 0.5rem;
    background-color: var(--secondary);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg);
  }
  #sbs-2291 .cs-image-group {
    width: 100%;
    height: 126vw;
    max-height: 39.125rem;
    display: block;
    order: -1;
    position: relative;
    z-index: 1;
  }
  #sbs-2291 .cs-picture {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 5.9375rem;
    left: 0;
  }
  #sbs-2291 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-2291 .cs-box {
    text-align: left;
    width: 91%;
    max-width: 28.125rem;
    box-sizing: border-box;
    padding: clamp(1.5rem, 3vw, 2rem);
    background-color: #fffdf7;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    column-gap: 1.5rem;
    row-gap: 0.5rem;
    position: absolute;
    right: 50%;
    bottom: 0;
    z-index: 10;
    transform: translate(50%);
  }
  #sbs-2291 .cs-number {
    font-family: "Rowdies", Arial, sans-serif;
    font-size: clamp(1.9375rem, 4vw, 3.0625rem);
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    margin: 0;
    color: var(--primaryDark);
  }
  #sbs-2291 .cs-heading {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0 0 0.5rem;
    color: var(--headerColor);
  }
  #sbs-2291 .cs-desc {
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #sbs-2291 .cs-graphic {
    width: 150%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (min-width: 48rem) {
  #sbs-2291 .cs-box {
    flex-direction: row;
    align-items: center;
  }
}
@media only screen and (min-width: 64rem) {
  #sbs-2291 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: stretch;
    gap: 1.25rem;
  }
  #sbs-2291 .cs-content {
    padding-left: 3.25rem;
    padding-bottom: 6.75rem;
  }
  #sbs-2291 .cs-image-group {
    height: auto;
    min-height: 40.125rem;
    max-height: 100%;
  }
  #sbs-2291 .cs-picture {
    bottom: 4rem;
  }
}
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-2291 .cs-title,
  body.dark-mode #sbs-2291 .cs-text,
  body.dark-mode #sbs-2291 .cs-h3,
  body.dark-mode #sbs-2291 .cs-li,
  body.dark-mode #sbs-2291 .cs-heading,
  body.dark-mode #sbs-2291 .cs-desc {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-2291 .cs-text,
  body.dark-mode #sbs-2291 .cs-li,
  body.dark-mode #sbs-2291 .cs-desc {
    opacity: 0.8;
  }
  body.dark-mode #sbs-2291 .cs-features,
  body.dark-mode #sbs-2291 .cs-box {
    background-color: var(--medium);
  }
}
@media only screen and (min-width: 0rem) {
  #services-2279 {
    padding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    padding-bottom: 1rem;
    position: relative;
    z-index: 1;
  }
  #services-2279 .cs-container {
    width: 100%;
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-2279 .cs-content {
    text-align: center;
    width: 100%;
    max-width: 87.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #services-2279 .cs-title {
    max-width: 30ch;
    color: var(--bodyTextColorWhite);
    margin: 0;
  }
  #services-2279 .cs-text {
    opacity: 0.8;
  }
  #services-2279 .cs-card-group {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: clamp(0.5rem, 2vw, 1.25rem);
  }
  #services-2279 .cs-item {
    --itemPadding: clamp(1rem, 3.5vw, 3rem);
    border-radius: 10px;
    width: 100%;
    text-align: left;
    list-style: none;
    margin: 0;
    padding: var(--itemPadding);
    background-color: #fff;
    border: 1px solid #e7e7e8;
    box-sizing: border-box;
    grid-column: span 12;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  #services-2279 .cs-item:hover .cs-h3,
  #services-2279 .cs-item:hover .cs-link {
    color: var(--bodyTextColorWhite);
  }
  #services-2279 .cs-item:hover .cs-item-text {
    color: var(--bodyTextColorWhite);
    opacity: 0.9;
  }
  #services-2279 .cs-item:hover .cs-icon-wrapper {
    border-radius: 10%;
    transform: rotate(90deg);
  }
  #services-2279 .cs-item:hover .cs-icon {
    transform: rotate(-90deg);
  }
  #services-2279 .cs-item:hover .cs-arrow {
    filter: grayscale(1) brightness(10000%);
  }
  #services-2279 .cs-item:hover .cs-background {
    opacity: 1;
  }
  #services-2279 .cs-icon-wrapper {
    width: clamp(5rem, 7vw, 6.25rem);
    height: clamp(5rem, 7vw, 6.25rem);
    margin: 0;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: var(--itemPadding);
    right: var(--itemPadding);
    z-index: 1;
    transition: transform 0.5s, border-radius 0.5s;
  }
  #services-2279 .cs-icon-wrapper:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-2279 .cs-icon {
    width: clamp(1.5rem, 4vw, 3rem);
    height: auto;
    transition: transform 0.5s;
  }
  #services-2279 .cs-h3 {
    font-size: clamp(1.25rem, 2.5vw, 1.2rem);
    line-height: 1.2em;
    font-weight: bold;
    text-align: inherit;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    z-index: 1;
  }
  #services-2279 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    max-width: 18.75rem;
    margin: 0 0 clamp(3.5rem, 8vw, 6.75rem) 0;
    padding: 0;
    color: var(--bodyTextColor);
  }
  #services-2279 .cs-link {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0.375rem 0;
    color: var(--headerColor);
    display: inline-flex;
    justify-content: space-between;
    gap: 0.75rem;
    position: relative;
    transition: color 0.3s;
  }
  #services-2279 .cs-link:hover .cs-arrow {
    transform: rotate(45deg);
  }
  #services-2279 .cs-link:before {
    content: "";
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0rem;
    left: 0;
  }
  #services-2279 .cs-arrow {
    width: 1.25rem;
    height: auto;
    display: block;
    transition: transform 0.3s;
  }
  #services-2279 .cs-background {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s;
  }
  #services-2279 .cs-background:before {
    border-radius: 10px;
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    opacity: 0.84;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #services-2279 .cs-background img {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #services-2279 .cs-accent {
    width: 100%;
    height: 21.6875rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-2279 .cs-accent:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--dark);
    opacity: 0.85;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #services-2279 .cs-accent img {
    width: 100%;
    height: 100%;
    opacity: 0.24;
    mix-blend-mode: soft-light;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media only screen and (min-width: 48rem) {
  #services-2279 .cs-container {
    max-width: 80rem;
  }
  #services-2279 .cs-item {
    grid-column: span 6;
    justify-content: flex-start;
  }
  #services-2279 .cs-link {
    margin-top: auto;
  }
}
@media only screen and (min-width: 64rem) {
  #services-2279 .cs-item {
    grid-column: span 4;
  }
  #services-2279 .cs-accent {
    height: clamp(27.1875rem, 41vw, 32.875rem);
  }
}
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-2279 .cs-item {
    background-color: var(--dark);
    border-color: rgba(255, 255, 255, 0.2);
  }
  body.dark-mode #services-2279 .cs-item:hover .cs-icon-wrapper:before {
    background-color: var(--primary);
    opacity: 0.9;
  }
  body.dark-mode #services-2279 .cs-h3,
  body.dark-mode #services-2279 .cs-item-text,
  body.dark-mode #services-2279 .cs-link {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-2279 .cs-icon-wrapper {
    background-color: var(--dark);
  }
  body.dark-mode #services-2279 .cs-icon-wrapper:before {
    background-color: #000;
    opacity: 0.3;
    transition: background-color 0.3s, opacity 0.3s;
  }
  body.dark-mode #services-2279 .cs-arrow,
  body.dark-mode #services-2279 .cs-icon {
    filter: grayscale(1) brightness(10000%);
  }
}
@media only screen and (min-width: 0rem) {
  #gallery-434 {
    padding: var(--sectionPadding);
  }
  #gallery-434 .cs-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-434 .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #gallery-434 .cs-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: clamp(0.75rem, 1.5vw, 1.875rem);
    grid-template-rows: repeat(6, 0.34fr);
  }
  #gallery-434 .cs-picture {
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    display: block;
  }
  #gallery-434 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #gallery-434 .cs-picture1 {
    display: none;
  }
  #gallery-434 .cs-picture2 {
    grid-column: 1/9;
    grid-row: 1/3;
  }
  #gallery-434 .cs-picture3 {
    grid-column: 9/13;
    grid-row: 1/1;
  }
  #gallery-434 .cs-picture4 {
    grid-column: 1/7;
    grid-row: 4/5;
  }
  #gallery-434 .cs-picture5 {
    grid-column: 7/13;
    grid-row: 4/6;
  }
  #gallery-434 .cs-picture6 {
    display: none;
  }
  #gallery-434 .cs-picture7 {
    grid-column: 1/5;
    grid-row: 3/4;
  }
  #gallery-434 .cs-picture8 {
    grid-column: 5/9;
    grid-row: 3/4;
  }
  #gallery-434 .cs-picture9 {
    grid-column: 9/13;
    grid-row: 2/4;
  }
  #gallery-434 .cs-picture10 {
    grid-column: 1/7;
    grid-row: 5/7;
  }
  #gallery-434 .cs-picture11 {
    grid-column: 7/13;
    grid-row: 6/7;
  }
}
@media only screen and (min-width: 48rem) {
  #gallery-434 {
    padding-left: 0;
    padding-right: 0;
  }
  #gallery-434 .cs-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 0.45fr);
  }
  #gallery-434 .cs-picture1 {
    border-radius: 0 0.5rem 0.5rem 0;
    display: block;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  #gallery-434 .cs-picture2 {
    grid-column: 3/5;
    grid-row: 1/3;
  }
  #gallery-434 .cs-picture3 {
    grid-column: 5/6;
    grid-row: 1/1;
  }
  #gallery-434 .cs-picture4 {
    border-radius: 0.5rem 0 0 0.5rem;
    grid-column: 6/7;
    grid-row: 1/1;
  }
  #gallery-434 .cs-picture5 {
    display: none;
  }
  #gallery-434 .cs-picture6 {
    border-radius: 0 0.5rem 0.5rem 0;
    display: block;
    grid-column: 1/3;
    grid-row: 2/4;
  }
  #gallery-434 .cs-picture7 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  #gallery-434 .cs-picture8 {
    grid-column: 4/5;
    grid-row: 3/4;
  }
  #gallery-434 .cs-picture9 {
    grid-column: 5/6;
    grid-row: 2/4;
  }
  #gallery-434 .cs-picture10 {
    border-radius: 0.5rem 0 0 0.5rem;
    grid-column: 6/7;
    grid-row: 2/4;
  }
  #gallery-434 .cs-picture11 {
    display: none;
  }
}
@media only screen and (min-width: 100rem) {
  #gallery-434 .cs-grid {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 0.4fr);
  }
  #gallery-434 .cs-picture4 {
    border-radius: 0.5rem;
  }
  #gallery-434 .cs-picture5 {
    border-radius: 0.5rem 0 0 0.5rem;
    display: block;
    grid-column: 7/8;
    grid-row: 1/3;
  }
  #gallery-434 .cs-picture10 {
    border-radius: 0.5rem;
  }
  #gallery-434 .cs-picture11 {
    border-radius: 0.5rem 0 0 0.5rem;
    display: block;
    grid-column: 7/8;
    grid-row: 3/4;
  }
}
@media only screen and (min-width: 0rem) {
  body.dark-mode #gallery-434 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #gallery-434 .cs-title {
    color: var(--bodyTextColorWhite);
  }
}
@media only screen and (min-width: 0rem) {
  #logos-572 {
    padding: clamp(3.75rem, 8vw, 6.125rem) 1rem;
    background-color: var(--medium);
  }
  #logos-572 .cs-container {
    width: 100%;
    max-width: 105rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: clamp(3rem, 6vw, 1rem);
  }
  #logos-572 .cs-logo {
    width: auto;
    max-width: 90%;
    height: auto;
    margin: 0;
    display: block;
  }
}
@media only screen and (min-width: 48rem) {
  #logos-572 .cs-container {
    justify-content: space-between;
  }
  #logos-572 .cs-logo {
    width: 15%;
    max-width: max-content;
    height: auto;
    display: block;
  }
}
@media only screen and (min-width: 0rem) {
  #meet-team-1766 {
    padding: var(--sectionPadding);
    background-color: #fcf9f6;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  #meet-team-1766 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(3rem, 6.5vw, 4rem);
  }
  #meet-team-1766 .cs-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #meet-team-1766 .cs-flex-wrapper {
    max-width: 37.5rem;
    display: contents;
  }
  #meet-team-1766 .cs-title {
    margin: 0;
    margin-bottom: clamp(1rem, 3vw, 2rem);
  }
  #meet-team-1766 .cs-wrapper {
    max-width: 39.5rem;
  }
  #meet-team-1766 .cs-text {
    margin: 0 0 2rem 0;
  }
  #meet-team-1766 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    margin-top: 2rem;
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #fff;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 0;
    display: inline-block;
    order: 2;
  }
  #meet-team-1766 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #meet-team-1766 .cs-button-solid:hover:before {
    width: 100%;
  }
  #meet-team-1766 .cs-text {
    max-width: 40rem;
    margin-bottom: 1.5rem;
    position: relative;
    z-index: 1;
  }
  #meet-team-1766 .cs-ul {
    max-width: 39.375rem;
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  #meet-team-1766 .cs-li {
    font-size: var(--bodyFontSize);
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  #meet-team-1766 .cs-check-icon {
    width: 1.5rem;
    height: auto;
    margin-top: 1px;
    display: block;
  }
  #meet-team-1766 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
    position: relative;
  }
  #meet-team-1766 .cs-item {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-column: span 12;
    gap: clamp(1rem, 2vw, 1.25rem);
    position: relative;
  }
  #meet-team-1766 .cs-item:hover .cs-picture img {
    opacity: 0.4;
    transform: scale(1.1);
  }
  #meet-team-1766 .cs-item:hover .cs-link {
    opacity: 1;
    transform: translateY(0);
  }
  #meet-team-1766 .cs-item:hover .cs-link:hover {
    transform: scale(1.15);
    transition: transform 0.3s;
    transition-delay: 0;
  }
  #meet-team-1766 .cs-item:hover .cs-job {
    color: var(--primary);
  }
  #meet-team-1766 .cs-image-group {
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;
    z-index: 1;
    aspect-ratio: 0.91691395;
    flex: 1 0 0;
  }
  #meet-team-1766 .cs-picture {
    width: 100%;
    height: 100%;
    aspect-ratio: 328/260;
    background-color: #000;
    display: block;
    position: relative;
    overflow: hidden;
  }
  #meet-team-1766 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.7s, opacity 0.3s;
  }
  #meet-team-1766 .cs-social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
  }
  #meet-team-1766 .cs-link {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(-1rem);
    transition: transform 0.6s, opacity 0.6s;
  }
  #meet-team-1766 .cs-link:nth-of-type(2) {
    transition-delay: 0.08s;
  }
  #meet-team-1766 .cs-link:nth-of-type(3) {
    transition-delay: 0.16s;
  }
  #meet-team-1766 .cs-icon {
    width: 1.25rem;
    height: auto;
    display: block;
  }
  #meet-team-1766 .cs-info {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    transition: background-color 0.3s;
  }
  #meet-team-1766 .cs-name {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    margin: 0;
    color: var(--headerColor);
    display: block;
    transition: color 0.3s;
  }
  #meet-team-1766 .cs-job {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
    transition: color 0.3s;
  }
}
@media only screen and (min-width: 48rem) {
  #meet-team-1766 .cs-container {
    max-width: 107.5rem;
    gap: clamp(3rem, 6vw, 4rem);
  }
  #meet-team-1766 .cs-content {
    text-align: left;
    max-width: 80rem;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
    columns: 2;
  }
  #meet-team-1766 .cs-flex-wrapper {
    width: 40vw;
    display: block;
    flex: none;
  }
  #meet-team-1766 .cs-ul {
    margin: 0;
  }
  #meet-team-1766 .cs-card-group {
    column-gap: clamp(1rem, 2vw, 1.25rem);
    row-gap: 2.5rem;
  }
  #meet-team-1766 .cs-item {
    grid-column: span 4;
  }
  #meet-team-1766 .cs-picture {
    height: clamp(16.25rem, 33.2vw, 27.5rem);
    aspect-ratio: initial;
  }
}
@media only screen and (min-width: 81.25rem) {
  #meet-team-1766 .cs-ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #meet-team-1766 .cs-li {
    width: 48%;
  }
  #meet-team-1766 .cs-card-group {
    grid-template-columns: repeat(10, 1fr);
  }
  #meet-team-1766 .cs-item {
    grid-column: span 2;
  }
}
@media only screen and (min-width: 0rem) {
  body.dark-mode #meet-team-1766 {
    background-color: var(--medium);
  }
  body.dark-mode #meet-team-1766 .cs-title,
  body.dark-mode #meet-team-1766 .cs-text,
  body.dark-mode #meet-team-1766 .cs-li,
  body.dark-mode #meet-team-1766 .cs-name,
  body.dark-mode #meet-team-1766 .cs-job {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #meet-team-1766 .cs-text,
  body.dark-mode #meet-team-1766 .cs-li,
  body.dark-mode #meet-team-1766 .cs-job {
    opacity: 0.8;
  }
}
@media only screen and (min-width: 0rem) {
  #reviews-1396 {
    text-align: center;
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #reviews-1396 .cs-container {
    width: 100%;
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-1396 .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #reviews-1396 .cs-title {
    max-width: 20ch;
    margin: 0;
  }
  #reviews-1396 .cs-card-group {
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: clamp(1rem, 2.5vw, 1.15rem);
  }
  #reviews-1396 .cs-item {
    list-style: none;
    text-align: left;
    padding: clamp(1rem, 4vw, 3.75rem);
    background-color: #fff;
    border-radius: clamp(0.75rem, 1.5vw, 1.25rem);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    grid-column: span 12;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }
  #reviews-1396 .cs-item:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.05;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
  }
  #reviews-1396 .cs-quote {
    width: clamp(4.5rem, 10vw, 7.5rem);
    height: auto;
    margin-bottom: clamp(2rem, 6vw, 4rem);
    display: block;
  }
  #reviews-1396 .cs-item-text {
    font-size: clamp(1rem, 2.6vw, 1.1625rem);
    line-height: 1.2em;
    margin: 0;
    margin-bottom: clamp(1.5rem, 6vw, 4rem);
    color: var(--bodyTextColor);
  }
  #reviews-1396 .cs-flex-group {
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: clamp(0.8rem, 1.5vw, 1rem);
  }
  #reviews-1396 .cs-profile {
    width: clamp(2.5rem, 5vw, 3.25rem);
    height: clamp(2.5rem, 5vw, 3.25rem);
    margin: 0;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #fff;
    overflow: hidden;
    position: relative;
    display: block;
  }
  #reviews-1396 .cs-profile img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #reviews-1396 .cs-name {
    font-size: clamp(1rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: block;
  }
  #reviews-1396 .cs-job {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    font-weight: 400;
    margin: 0;
    color: #746f95;
    display: block;
  }
}
@media only screen and (min-width: 48rem) {
  #reviews-1396 .cs-container {
    max-width: 80rem;
  }
  #reviews-1396 .cs-item {
    grid-column: span 4;
  }
}
@media only screen and (min-width: 0rem) {
  body.dark-mode #reviews-1396 .cs-title {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews-1396 .cs-item {
    background-color: var(--medium);
  }
  body.dark-mode #reviews-1396 .cs-quote {
    opacity: 0.5;
  }
  body.dark-mode #reviews-1396 .cs-item-text,
  body.dark-mode #reviews-1396 .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews-1396 .cs-job {
    color: var(--bodyTextColorWhite);
    opacity: 0.7;
  }
}
@media only screen and (min-width: 0rem) {
  #sbs-83 {
    padding: var(--sectionPadding);
    padding-top: 0;
  }
  #sbs-83 .cs-container {
    width: 100%;
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-83 .cs-content {
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #sbs-83 .cs-title {
    max-width: 30ch;
  }
  #sbs-83 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-83 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-83 .cs-card-group {
    width: 100%;
    max-width: 25rem;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.75rem;
  }
  #sbs-83 .cs-item {
    list-style: none;
    width: 32%;
    max-width: 9.375rem;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-content: space-between;
  }
  #sbs-83 .cs-number {
    font-size: clamp(2.4375rem, 5vw, 3.0625rem);
    line-height: 1.2em;
    font-weight: 700;
    text-align: left;
    color: var(--secondary);
    display: block;
    margin: 0 0 clamp(0.25rem, 0.5vw, 1rem);
  }
  #sbs-83 .cs-h3 {
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    text-align: left;
    margin: auto 0 0;
    color: var(--headerColor);
    text-transform: none;
    font-weight: 800;
  }
  #sbs-83 .cs-image-group {
    width: 100%;
    max-width: 33.875rem;
    margin: 0 0 2.5rem;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    gap: clamp(0.5rem, 2vw, 1.25rem);
  }
  #sbs-83 .cs-picture {
    width: 48%;
    min-height: clamp(13.625rem, 25vw, 16.5rem);
    position: relative;
    display: block;
  }
  #sbs-83 .cs-picture:nth-of-type(2), #sbs-83 .cs-picture:nth-of-type(4) {
    transform: translateY(2.5rem);
  }
  #sbs-83 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.75rem;
  }
  #sbs-83 .cs-button-solid {
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 48rem) {
  #sbs-83 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: clamp(2.75rem, 5.4vw + 1em, 6.75rem);
  }
  #sbs-83 .cs-card-group {
    max-width: 100%;
  }
  #sbs-83 .cs-image-group {
    width: clamp(19.875rem, 46.9vw, 33.875rem);
    flex: none;
  }
  #sbs-83 .cs-picture {
    width: 47.8%;
  }
}
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-83 .cs-title,
  body.dark-mode #sbs-83 .cs-text,
  body.dark-mode #sbs-83 .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-83 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #sbs-83 .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
}

/*# sourceMappingURL=local.css.map */
