---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
    key: Home
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script
        defer
        src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    <script defer>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", (user) => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>

    <!-- JSON Schema Markup -->
    <!-- prettier-ignore-start -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
    <!-- prettier-ignore-end -->
{% endblock %}

{% block body %}
    <section id="hero-2275">
        <div class="cs-container">
            <div class="cs-content">
                <h1 class="cs-title">
                    Exceptional Landscaping. Unmatched Quality.
                </h1>
                <p class="cs-text">
                    With 20+ years of experience, we specialize in landscape
                    maintenance, installation, irrigation, and lighting—serving
                    Trussville, Vestavia, Mountain Brook, and beyond. Quality
                    work, lasting relationships, and unmatched reliability.
                </p>
                <a class="cs-button-solid" href="contact/index.html"
                    >Get a Quote Today
                    <img
                        alt="arrow"
                        decoding="async"
                        height="20"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/white-arrow-up.svg"
                        width="20"
                        class="cs-button-arrow"
                        aria-hidden="true"
                /></a>
            </div>
        </div>
        <div class="cs-image-group">
            <picture class="cs-background cs-background1"
                ><source
                    media="(max-width: 600px)"
                    srcset="/assets/images/hero-1.webp" />
                <source
                    media="(min-width: 601px)"
                    srcset="/assets/images/hero-1.webp" />
                <img
                    alt="Flower Planting"
                    decoding="async"
                    height="684"
                    src="assets/images/hero-1.webp"
                    width="1290"
                    aria-hidden="true" /></picture
            ><picture class="cs-background cs-background2"
                ><source
                    media="(max-width: 600px)"
                    srcset="/assets/images/hero-2.webp" />
                <source
                    media="(min-width: 601px)"
                    srcset="/assets/images/hero-2.webp" />
                <img
                    alt="Lawn Maintenance"
                    decoding="async"
                    height="684"
                    src="assets/images/hero-2.webp"
                    width="630"
                    aria-hidden="true"
            /></picture>
        </div>
    </section>
    <section id="Hservices-2275">
        <div class="cs-container">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img
                        alt="icon"
                        decoding="async"
                        height="40"
                        src="assets/svgs/quality.svg"
                        width="40"
                        class="cs-icon"
                        aria-hidden="true"
                    />
                    <h3 class="cs-h3">Unmatched Quality</h3>
                    <p class="cs-item-text">
                        Lawn maintenance, landscape installation, seasonal color
                        enhancements, and more.
                    </p>
                </li>
                <li class="cs-item">
                    <img
                        alt="icon"
                        decoding="async"
                        height="40"
                        src="assets/svgs/community.svg"
                        width="40"
                        class="cs-icon"
                        aria-hidden="true"
                    />
                    <h3 class="cs-h3">Community Focused</h3>
                    <p class="cs-item-text">
                        Proudly supporting local charities and service
                        initiatives that give back to the Birmingham area.
                    </p>
                </li>
                <li class="cs-item">
                    <img
                        alt="icon"
                        decoding="async"
                        height="40"
                        src="assets/svgs/partnership.svg"
                        width="40"
                        class="cs-icon"
                        aria-hidden="true"
                    />
                    <h3 class="cs-h3">Long-Term Partnerships</h3>
                    <p class="cs-item-text">
                        Ensuring personalized service and ongoing care for
                        homeowners, businesses, and HOAs.
                    </p>
                </li>
                <li class="cs-item cs-item-background">
                    <picture class="cs-item-picture"
                        ><source
                            media="(max-width: 600px)"
                            srcset="/assets/images/hero-2.webp" />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/hero-2.webp" />
                        <img
                            alt="construction site"
                            decoding="async"
                            height="684"
                            src="assets/images/hero-2.webp"
                            width="630"
                            aria-hidden="true"
                    /></picture>
                </li>
                <li class="cs-item">
                    <a class="cs-link" href="contact/index.html"
                        ><img
                            alt="icon"
                            decoding="async"
                            height="40"
                            src="assets/svgs/rating.svg"
                            width="40"
                            class="cs-icon"
                            aria-hidden="true" />
                        <span class="cs-number">100+</span>
                        <h3 class="cs-h3">Satisfied Clients</h3>
                        <p class="cs-item-text">across central Alabama.</p>
                        <span class="cs-fake-link"
                            ><strong>Let's Work Together</strong>
                            <img
                                alt="arrow"
                                decoding="async"
                                height="20"
                                src="assets/svgs/arrow-up.svg"
                                width="20"
                                class="cs-arrow"
                                aria-hidden="true" /></span
                        ><picture class="cs-background"
                            ><source
                                media="(max-width: 600px)"
                                srcset="/assets/images/hero-3.webp" />
                            <source
                                media="(min-width: 601px)"
                                srcset="/assets/images/hero-3.webp" />
                            <img
                                alt="construction site"
                                decoding="async"
                                height="684"
                                src="assets/images/hero-3.webp"
                                width="630"
                                aria-hidden="true" /></picture
                    ></a>
                </li>
            </ul>
        </div>
    </section>
    <section id="sbs-2291">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">The Southern Landscape Firm</span>
                <h2 class="cs-title">Rooted in Excellence, Growing with You</h2>
                <p class="cs-text">
                    With over 20 years of experience, The Southern Landscape
                    Firm was built on a passion for creating and maintaining
                    beautiful outdoor spaces. Founded by Michael Ray, our team
                    is committed to quality, relationships, and follow-through.
                    Whether it’s residential, commercial, or HOA landscaping, we
                    provide expert care with a focus on customer satisfaction.
                </p>
                <div class="cs-features">
                    <h3 class="cs-h3">Why Choose Us?</h3>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            Certified training and industry knowledge
                        </li>
                        <li class="cs-li">
                            From maintenance to large-scale landscape
                            installations
                        </li>
                        <li class="cs-li">
                            Building long-term relationships with returning
                            customers
                        </li>
                    </ul>
                </div>
                <a
                    class="cs-button-solid"
                    href="about/index.html"
                    aria-label="learn more about our values"
                    >Our Values</a
                >
            </div>
            <div class="cs-image-group">
                <div class="cs-box">
                    <span class="cs-number">20+</span>
                    <div class="cs-flex">
                        <h3 class="cs-heading">Years of Experience</h3>
                        <span class="cs-desc"
                            >lawncare maintenance, landscape install,
                            irrigation, and more.</span
                        >
                    </div>
                </div>
                <picture class="cs-picture"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/about-us.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/about-us.webp" />
                    <img
                        alt="meeting"
                        decoding="async"
                        height="630"
                        src="assets/images/about-us.webp"
                        width="630"
                        loading="lazy"
                        aria-hidden="true"
                /></picture>
            </div>
        </div>
    </section>
    <section id="services-2279">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Core Services</span>
                <h2 class="cs-title">
                    Professional Landscaping Services for Every Outdoor Need
                </h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">Landscape Maintenance</h3>
                    <p class="cs-item-text">
                        Keep your lawn and landscape looking pristine year-round
                        with our expert mowing, trimming, pruning,
                        fertilization, and seasonal cleanups.
                    </p>
                    <a class="cs-link" href="landscape-maintenance/index.html"
                        >View More
                        <img
                            alt="icon"
                            decoding="async"
                            height="20"
                            src="assets/svgs/black-arrow.svg"
                            width="20"
                            loading="lazy"
                            class="cs-arrow" /></a
                    ><picture class="cs-background"
                        ><img
                            alt="Landscape Maintenance"
                            decoding="async"
                            height="425"
                            src="assets/images/services-1.webp"
                            width="480"
                            loading="lazy"
                    /></picture>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">Landscape Installation</h3>
                    <p class="cs-item-text">
                        From sod and plant installations to mulch, pine straw,
                        and custom landscape designs, we bring your outdoor
                        vision to life with precision and care.
                    </p>
                    <a class="cs-link" href="landscape-installation/index.html"
                        >View More
                        <img
                            alt="icon"
                            decoding="async"
                            height="20"
                            src="assets/svgs/black-arrow.svg"
                            width="20"
                            loading="lazy"
                            class="cs-arrow" /></a
                    ><picture class="cs-background"
                        ><img
                            alt="Landscape Installation"
                            decoding="async"
                            height="425"
                            src="assets/images/services-2.webp"
                            width="480"
                            loading="lazy"
                    /></picture>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">Irrigation Installation</h3>
                    <p class="cs-item-text">
                        Ensure your landscape stays lush and healthy with
                        irrigation system installations, repairs, and seasonal
                        maintenance for optimal water efficiency.
                    </p>
                    <a class="cs-link" href="irrigation-installation/index.html"
                        >View More
                        <img
                            alt="icon"
                            decoding="async"
                            height="20"
                            src="assets/svgs/black-arrow.svg"
                            width="20"
                            loading="lazy"
                            class="cs-arrow" /></a
                    ><picture class="cs-background"
                        ><img
                            alt="Irrigation Installation"
                            decoding="async"
                            height="425"
                            src="assets/images/services-3.webp"
                            width="480"
                            loading="lazy"
                    /></picture>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">Outdoor Lighting</h3>
                    <p class="cs-item-text">
                        Enhance your home’s curb appeal and security with custom
                        landscape lighting, including pathway lights, LED
                        upgrades, and accent lighting.
                    </p>
                    <a class="cs-link" href="outdoor-lighting/index.html"
                        >View More
                        <img
                            alt="icon"
                            decoding="async"
                            height="20"
                            src="assets/svgs/black-arrow.svg"
                            width="20"
                            loading="lazy"
                            class="cs-arrow" /></a
                    ><picture class="cs-background"
                        ><img
                            alt="Outdoor Lighting"
                            decoding="async"
                            height="425"
                            src="assets/images/services-4.webp"
                            width="480"
                            loading="lazy"
                    /></picture>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">Color Enhancements</h3>
                    <p class="cs-item-text">
                        Brighten your property with vibrant, professionally
                        designed flower beds, planters, and seasonal displays
                        tailored to every season.
                    </p>
                    <a class="cs-link" href="color-enhancements/index.html"
                        >View More
                        <img
                            alt="icon"
                            decoding="async"
                            height="20"
                            src="assets/svgs/black-arrow.svg"
                            width="20"
                            loading="lazy"
                            class="cs-arrow" /></a
                    ><picture class="cs-background"
                        ><img
                            alt="construction"
                            decoding="async"
                            height="425"
                            src="assets/images/services-5.webp"
                            width="480"
                            loading="lazy"
                    /></picture>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">Hardscaping & Drainage</h3>
                    <p class="cs-item-text">
                        Create functional, beautiful outdoor spaces with patios,
                        walkways, retaining walls, erosion control, and French
                        drain installations.
                    </p>
                    <a class="cs-link" href="hardscaping/index.html"
                        >View More
                        <img
                            alt="icon"
                            decoding="async"
                            height="20"
                            src="assets/svgs/black-arrow.svg"
                            width="20"
                            loading="lazy"
                            class="cs-arrow" /></a
                    ><picture class="cs-background"
                        ><img
                            alt="construction"
                            decoding="async"
                            height="425"
                            src="assets/images/services-6.webp"
                            width="480"
                            loading="lazy"
                    /></picture>
                </li>
            </ul>
        </div>
        <picture class="cs-accent"
            ><source
                media="(max-width: 600px)"
                srcset="/assets/images/services-background.webp" />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/services-background.webp" />
            <img
                alt="our core services"
                decoding="async"
                height="331"
                src="assets/images/services-background.webp"
                width="1920"
                loading="lazy"
                aria-hidden="true"
        /></picture>
    </section>
    <section id="gallery-434">
        <div class="cs-container">
            <div class="cs-grid">
                <picture class="cs-picture cs-picture1"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-1-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-1.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="190"
                        src="assets/images/gallery-1.webp"
                        width="424"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture2"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-2-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-2.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="390"
                        src="assets/images/gallery-2.webp"
                        width="571"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture3"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-3-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-3.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="190"
                        src="assets/images/gallery-3.webp"
                        width="268"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture4"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-4-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-4.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="190"
                        src="assets/images/gallery-4.webp"
                        width="268"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture5"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-5-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-5.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="390"
                        src="assets/images/gallery-5.webp"
                        width="268"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture6"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-6-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-6.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="390"
                        src="assets/images/gallery-6.webp"
                        width="425"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture7"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-7-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-7.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="190"
                        src="assets/images/gallery-7.webp"
                        width="273"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture8"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-8-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-8.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="190"
                        src="assets/images/gallery-8.webp"
                        width="273"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture9"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-9-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-9.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="390"
                        src="assets/images/gallery-9.webp"
                        width="268"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture10"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-10-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-10.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="390"
                        src="assets/images/gallery-10.webp"
                        width="268"
                        loading="lazy" /></picture
                ><picture class="cs-picture cs-picture11"
                    ><source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gallery-11-m.webp" />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gallery-11.webp" />
                    <img
                        alt="gallery image"
                        decoding="async"
                        height="190"
                        src="assets/images/gallery-11.webp"
                        width="268"
                        loading="lazy"
                /></picture>
            </div>
        </div>
    </section>
    <section id="logos-572">
        <div class="cs-container">
            <img
                alt="logo"
                decoding="async"
                height="65"
                src="assets/images/logo-1.webp"
                width="287"
                loading="lazy"
                class="cs-logo"
            />
            <img
                alt="logo"
                decoding="async"
                height="53"
                src="assets/images/logo-3.webp"
                width="235"
                loading="lazy"
                class="cs-logo"
            />
            <img
                alt="logo"
                decoding="async"
                height="53"
                src="assets/images/logo-2.webp"
                width="235"
                loading="lazy"
                class="cs-logo"
            />
            <img
                alt="logo"
                decoding="async"
                height="61"
                src="assets/images/logo-4.webp"
                width="228"
                loading="lazy"
                class="cs-logo"
            />
            <img
                alt="logo"
                decoding="async"
                height="61"
                src="assets/images/logo-5.webp"
                width="228"
                loading="lazy"
                class="cs-logo"
            />
        </div>
    </section>
    <section id="meet-team-1766">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex-wrapper">
                    <div class="cs-flex">
                        <span class="cs-topper">Our Team</span>
                        <h2 class="cs-title">
                            Skilled Professionals, Trusted Service
                        </h2>
                    </div>
                </div>
                <div class="cs-wrapper">
                    <p class="cs-text">
                        At The Southern Landscape Firm, our success is built on
                        the dedicated professionals who bring skill, experience,
                        and passion to every project. With a combined background
                        in landscape maintenance, installation, irrigation, and
                        floriculture, our team ensures exceptional service and
                        long-lasting client relationships.
                    </p>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img
                                alt="checkmark"
                                decoding="async"
                                height="20"
                                src="assets/svgs/orange-check.svg"
                                width="20"
                                loading="lazy"
                                class="cs-check-icon"
                                aria-hidden="true"
                            />
                            experienced and highly trained
                        </li>
                        <li class="cs-li">
                            <img
                                alt="checkmark"
                                decoding="async"
                                height="20"
                                src="assets/svgs/orange-check.svg"
                                width="20"
                                loading="lazy"
                                class="cs-check-icon"
                                aria-hidden="true"
                            />
                            committed to quality work
                        </li>
                        <li class="cs-li">
                            <img
                                alt="checkmark"
                                decoding="async"
                                height="20"
                                src="assets/svgs/orange-check.svg"
                                width="20"
                                loading="lazy"
                                class="cs-check-icon"
                                aria-hidden="true"
                            />
                            focused on client relationships
                        </li>
                        <li class="cs-li">
                            <img
                                alt="checkmark"
                                decoding="async"
                                height="20"
                                src="assets/svgs/orange-check.svg"
                                width="20"
                                loading="lazy"
                                class="cs-check-icon"
                                aria-hidden="true"
                            />
                            passionate about our work
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="cs-image-group">
                        <picture class="cs-picture"
                            ><source
                                media="(max-width: 600px)"
                                srcset="/assets/images/team-1.webp" />
                            <source
                                media="(min-width: 601px)"
                                srcset="/assets/images/team-1.webp" />
                            <img
                                alt="person"
                                decoding="async"
                                height="440"
                                src="assets/images/team-1.webp"
                                width="305"
                                loading="lazy"
                        /></picture>
                    </div>
                    <div class="cs-info">
                        <span class="cs-name">Michael Ray</span>
                        <span class="cs-job">Co-Owner</span>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-image-group">
                        <picture class="cs-picture"
                            ><source
                                media="(max-width: 600px)"
                                srcset="/assets/images/team-2.webp" />
                            <source
                                media="(min-width: 601px)"
                                srcset="/assets/images/team-2.webp" />
                            <img
                                alt="person"
                                decoding="async"
                                height="440"
                                src="assets/images/team-2.webp"
                                width="305"
                                loading="lazy"
                        /></picture>
                    </div>
                    <div class="cs-info">
                        <span class="cs-name">Carlie Scroggins</span>
                        <span class="cs-job">Co-Owner</span>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-image-group">
                        <picture class="cs-picture"
                            ><source
                                media="(max-width: 600px)"
                                srcset="/assets/images/team-3.webp" />
                            <source
                                media="(min-width: 601px)"
                                srcset="/assets/images/team-3.webp" />
                            <img
                                alt="person"
                                decoding="async"
                                height="440"
                                src="assets/images/team-3.webp"
                                width="305"
                                loading="lazy"
                        /></picture>
                    </div>
                    <div class="cs-info">
                        <span class="cs-name">Jordan Rich</span>
                        <span class="cs-job">General Manager</span>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-image-group">
                        <picture class="cs-picture"
                            ><source
                                media="(max-width: 600px)"
                                srcset="/assets/images/team-4.webp" />
                            <source
                                media="(min-width: 601px)"
                                srcset="/assets/images/team-4.webp" />
                            <img
                                alt="person"
                                decoding="async"
                                height="440"
                                src="assets/images/team-4.webp"
                                width="305"
                                loading="lazy"
                        /></picture>
                    </div>
                    <div class="cs-info">
                        <span class="cs-name">Gina Kelley</span>
                        <span class="cs-job">Floriculture Manager</span>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-image-group">
                        <picture class="cs-picture"
                            ><source
                                media="(max-width: 600px)"
                                srcset="/assets/images/team-5.webp" />
                            <source
                                media="(min-width: 601px)"
                                srcset="/assets/images/team-5.webp" />
                            <img
                                alt="person"
                                decoding="async"
                                height="440"
                                src="assets/images/team-5.webp"
                                width="305"
                                loading="lazy"
                        /></picture>
                    </div>
                    <div class="cs-info">
                        <span class="cs-name">Melvin Miles</span>
                        <span class="cs-job">Quality Control Manager</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section id="reviews-1396">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Testimonials</span>
                <h2 class="cs-title">
                    Quality Work. Lasting Impressions. Proven Results.
                </h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img
                        alt="quote icon"
                        decoding="async"
                        height="99"
                        src="assets/svgs/quotes.svg"
                        width="120"
                        class="cs-quote"
                        aria-hidden="true"
                    />
                    <p class="cs-item-text">
                        Michael and his crew do outstanding work and strive to
                        please. He is super knowledgeable concerning turf and
                        horticulture - and this is coming from someone with a
                        horticulture education! Love them! Give them a chance,
                        and you will be thrilled with their work!
                    </p>
                    <div class="cs-flex-group">
                        <picture class="cs-picture"
                            ><img
                                alt="profile"
                                decoding="async"
                                height="50"
                                src="assets/images/review-1.webp"
                                width="50"
                                class="cs-profile"
                                aria-hidden="true" /></picture
                        ><span class="cs-name"
                            >Debbi Clarke
                            <span class="cs-job">Real Estate Agent</span></span
                        >
                    </div>
                </li>
                <li class="cs-item">
                    <img
                        alt="quote icon"
                        decoding="async"
                        height="99"
                        src="assets/svgs/quotes.svg"
                        width="120"
                        class="cs-quote"
                        aria-hidden="true"
                    />
                    <p class="cs-item-text">
                        I couldn't be happier with all Southern Landscape Firm
                        has done for our home. Their lawn maintenance program is
                        second-to-none. Always on time, at the same time,
                        without me having to look for them. They have lived up
                        to and in many ways exceeded my high expectations for
                        what I wanted.
                    </p>
                    <div class="cs-flex-group">
                        <picture class="cs-picture"
                            ><img
                                alt="profile"
                                decoding="async"
                                height="50"
                                src="assets/images/review-2.webp"
                                width="50"
                                class="cs-profile"
                                aria-hidden="true" /></picture
                        ><span class="cs-name"
                            >Jessie Odell
                            <span class="cs-job">Lawncare Customer</span></span
                        >
                    </div>
                </li>
                <li class="cs-item">
                    <img
                        alt="quote icon"
                        decoding="async"
                        height="99"
                        src="assets/svgs/quotes.svg"
                        width="120"
                        class="cs-quote"
                        aria-hidden="true"
                    />
                    <p class="cs-item-text">
                        We have enjoyed working with the Southern Landscape
                        Firm. They did a fabulous job redesigning our shrubs and
                        flower beds. Michael Ray’s team was extremely
                        professional and worked hard to make sure we were
                        pleased with the outcome. Our yard has never looked
                        better. Thanks for all you do!!
                    </p>
                    <div class="cs-flex-group">
                        <picture class="cs-picture"
                            ><img
                                alt="profile"
                                decoding="async"
                                height="50"
                                src="assets/images/review-3.webp"
                                width="50"
                                class="cs-profile"
                                aria-hidden="true" /></picture
                        ><span class="cs-name"
                            >Teri Scroggins
                            <span class="cs-job">Installation</span></span
                        >
                    </div>
                </li>
            </ul>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
