@media only screen and (min-width: 0rem) {
    #gallery {
        position: relative;
        overflow: hidden;
        padding: var(--sectionPadding);
        text-align: center;

        .cs-container {
            margin: auto;
            max-width: 82.625em;
            width: 100%;
        }

        .cs-image-group {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin: 0 auto 3.75rem;
            max-width: 82.625em;
            width: 100%;
            padding: 0;
            font-size: min(1.1vw, 1em);
            gap: 1.875em;
        }

        .cs-row {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 1.875em;
        }

        .cs-picture {
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-row-1 {
            .cs-picture1 {
                height: 35.4375em;
                width: 26.25em;
            }

            .cs-picture2 {
                height: 39.3125em;
                width: 26.25em;
            }

            .cs-picture3 {
                height: 32em;
                width: 26.25em;
            }
        }

        .cs-row-2 {
            .cs-picture1 {
                height: 30.75em;
                width: 26.25em;
            }

            .cs-picture2 {
                height: 32.3125em;
                width: 26.25em;
            }

            .cs-picture3 {
                height: 39.3125em;
                width: 26.25em;
            }
        }

        .cs-row-3 {
            .cs-picture1 {
                height: 39.0625em;
                width: 26.25em;
            }

            .cs-picture2 {
                height: 28.25em;
                width: 26.25em;
            }

            .cs-picture3 {
                height: 39.3125em;
                width: 26.25em;
            }
        }
    }
}

@media only screen and (min-width: 0rem) {
    #content-page-1944 {
        padding: var(--sectionPadding);
        padding-bottom: 1.5rem;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: 80rem;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            text-align: left;
            width: 100%;
            max-width: 47.75rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-title {
            font-size: var(--headerFontSize);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            width: 100%;
            max-width: 100%;
            margin: 0 0 1rem 0;
            color: var(--headerColor);
            position: relative;
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 700;
            text-align: inherit;
            margin: 0 0 1rem 0;
            color: var(--headerColor);
        }

        h2 {
            font-size: 2rem;
            margin-top: 2rem;
        }

        h3 {
            font-size: 1.5rem;
            color: var(--primary);
        }

        h4,
        h5,
        h6 {
            font-size: 1.25rem;
        }

        p {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            margin: 0 0 1rem 0;
            color: var(--bodyTextColor);

            &:last-of-type {
                margin-bottom: 2rem;
            }

            a {
                font-size: inherit;
                line-height: inherit;
                text-decoration: underline;
                color: var(--primary);
                filter: brightness(120%);
            }
        }

        ol {
            margin: 0 0 2rem 0;
            padding-left: 1.5rem;
            color: var(--headerColor);
            display: flex;
            flex-direction: column;
            gap: 1rem;

            li {
                font-size: 1rem;
                line-height: 1.5em;

                strong {
                    color: var(--headerColor);
                }

                p:last-of-type {
                    margin: 0;
                }
            }
        }

        ul {
            margin: 0 0 2rem 0;
            padding-left: 1.5rem;
            color: var(--bodyTextColor);
            display: flex;
            flex-direction: column;
            gap: 1rem;

            li {
                list-style: none;
                line-height: 1.5em;
                font-size: 1rem;
                color: inherit;
                position: relative;

                strong {
                    color: var(--headerColor);
                }

                &:before {
                    content: "";
                    width: 3px;
                    height: 3px;
                    background: currentColor;
                    opacity: 1;
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    top: 0.625rem;
                    left: -0.75rem;
                }
            }
        }

        .cs-image-group {
            font-size: min(2.29vw, 1rem);
            width: 29.875em;
            height: 47.75em;
            display: none;
            order: -1;
            position: relative;
            z-index: 2;
        }

        .cs-picture {
            width: 29.4375em;
            height: 42.5625em;
            box-sizing: border-box;
            background-color: var(--primary);
            overflow: hidden;
            border-radius: 2.625rem;
            position: absolute;
            right: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 0.7s;
            }
        }

        .cs-graphic {
            height: auto;
            position: absolute;
        }

        .cs-leaf {
            width: 16.4375em;
            height: auto;
            right: -2.125em;
            bottom: 1.5em;
            transform: rotate(130deg);
            z-index: 1;
        }
    }
}

@media only screen and (min-width: 64rem) {
    #content-page-1944 {
        .cs-container {
            flex-direction: row;
            align-items: flex-start;
        }

        .cs-image-group {
            font-size: min(1.2vw, 1rem);
            display: block;
            flex: none;
        }
    }
}

@media only screen and (min-width: 0rem) {
    body.dark-mode #content-page-1944 {
        background-color: rgba(0, 0, 0, 0.2);

        .cs-title,
        .cs-text,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 li,
        p {
            color: var(--bodyTextColorWhite);
        }

        li strong {
            color: #fff;
        }

        p {
            strong {
                color: #fff;
            }

            color: #ebebeb;
        }

        li {
            color: #ebebeb;
        }

        .cs-picture {
            border-color: var(--accent);
        }
    }
}

@media only screen and (min-width: 0rem) {
    #content-page-1944 .cs-content-reverse {
        padding-top: 2.25rem;

        .cs-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-image-group {
            font-size: min(1.8vw, 0.9rem);
            width: 47.8125em;
            height: 24.5em;
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            width: 47em;
            height: 21.25em;
            height: 100%;
            box-sizing: border-box;
            background-color: var(--primary);
            overflow: hidden;
            border-radius: 2.625rem;
            position: absolute;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 0.7s;
            }
        }

        .cs-graphic {
            height: auto;
            position: absolute;
        }

        .cs-brown {
            width: 12.6875em;
            height: auto;
            top: 0;
            right: 0;
            z-index: -3;
        }

        .cs-leaf-right {
            width: 17.6875em;
            height: auto;
            bottom: -2.125em;
            left: -2em;
        }
    }
}

@media only screen and (min-width: 81.25rem) {
    #content-page-1944 .cs-content-reverse {
        .cs-container {
            flex-direction: row;
            align-items: flex-start;
        }

        .cs-image-group {
            width: 38em;
            height: 30.125em;
            margin-top: 3rem;
            order: 2;
        }

        .cs-picture {
            width: 38em;
        }
    }
}

@media only screen and (min-width: 0rem) {
    #cta-262 {
        padding: clamp(3.75rem, 7.82vw, 1.25rem) 1rem;

        .cs-container {
            width: 100%;
            max-width: 80rem;
            margin: auto;
            padding: clamp(2em, 6.3vw, 4.5em) clamp(1.5em, 5.7vw, 5.5em);
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 2rem;
            position: relative;
            overflow: hidden;
            z-index: 1;
            box-sizing: border-box;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: -1;

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.7;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
            }

            &:after {
                content: "";
                width: 100%;
                height: 100%;
                background: var(--primaryLight);
                opacity: 0.2;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 2;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-left-section {
            max-width: 37.5rem;
        }

        .cs-title {
            color: var(--bodyTextColorWhite);
            margin-bottom: clamp(1.25rem, 4.2vw, 3rem);
        }

        .cs-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: clamp(0.75rem, 1.6vw, 1.25rem);
        }

        .cs-header {
            font-size: clamp(1.25rem, 2.4vw, 1.5625rem);
            font-weight: bold;
            color: var(--primaryLight);
            display: block;
        }

        .cs-p {
            font-size: clamp(0.875rem, 1.5vw, 1.25rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }
    }
}

@media only screen and (min-width: 48rem) {
    #cta-262 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            align-items: flex-end;
            text-align: right;
            flex: none;
        }
    }
}

@media only screen and (min-width: 0rem) {
    body.dark-mode #cta-262 .cs-background {
        &:before {
            opacity: 0.9;
        }

        &:after {
            opacity: 0.1;
        }
    }
}
